  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../">Humanist Literary Networks</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../../">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>The correspondence of <%= @correspondent1 %> and <%= @correspondent2 %>:</h2>
        <ul>
        <% @letters_from_c1_to_c2.all.each do |a| %>
          <li>
            <%= a.id %>. <%= @correspondent1 %> to <%= @correspondent2 %>.&nbsp;&nbsp;
            <% if a.text_url %>
              </br>
              </br>
              <iframe frameborder="0" scrolling="no" style="border:0px" src="<%= a.text_url.split("#v=onepage&q&f=false").first + '&output=embed' %>" width=575 height=875></iframe>
            <% end %>
            </br>
            </br>
            </br>
          </li>
        <% end %>
        <% @letters_from_c2_to_c1.all.each do |a| %>
          <li>
            <%= a.id %>. <%= @correspondent2 %> to <%= @correspondent1 %>.&nbsp;&nbsp;
            <% if a.text_url %>
              </br>
              </br>
              <iframe frameborder="0" scrolling="no" style="border:0px" src="<%= a.text_url.split("#v=onepage&q&f=false").first + '&output=embed' %>" width=575 height=875></iframe>
              </br>
              </br>
              </br>
            <% end %>
            </br>
          </li>
        <% end %>
        </ul>
        <p>
          <a class="btn btn-lg btn-primary" href="../../" role="button">Return to full network visualization &raquo;</a>
        </p>
      </div>
    </div> <!-- /container -->